@import "../../General.scss";

#menu-icon {
  display: flex;
  flex-direction: column;
  width: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;

  @media screen and (min-width: 1024px) {
    display: none;
  }

  span {
    background-color: $gray;
    height: 4px;
    display: block;
    margin-bottom: 5px;
    border-radius: 9px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  &.open span:nth-child(1) {
    -webkit-transform: translateY(9px) rotate(135deg);
    -moz-transform: translateY(9px) rotate(135deg);
    -o-transform: translateY(9px) rotate(135deg);
    transform: translateY(9px) rotate(135deg);
  }

  &.open span:nth-child(2) {
    opacity: 0;
  }

  &.open span:nth-child(3) {
    -webkit-transform: translateY(-9px) rotate(-135deg);
    -moz-transform: translateY(-9px) rotate(-135deg);
    -o-transform: translateY(-9px) rotate(-135deg);
    transform: translateY(-9px) rotate(-135deg);
  }
}
