@import "../../General.scss";

#results-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 3.5rem;

  #results {
    position: relative;
    top: -100px;
  }

  .historyBtn {
    align-self: center;
  }
}
